$black: #000;
$white: #fff;
$lightGrey: #f9f9f9;
$grey: #f6f6f6;
$orange: #ed3900;
$orangeHover: #ff5c00;
$robotoRegular: "Roboto-Regular", Verdana, sans-serif;
$robotoBold: "Roboto-Bold", Verdana, sans-serif;
$interRegular: "Inter-Regular", Verdana, sans-serif;
$interBold: "Inter-Bold", Verdana, sans-serif;
$montserratExtraLight: "Montserrat-ExtraLight", Verdana, sans-serif;
$montserratLight: "Montserrat-Light", Verdana, sans-serif;
$montserratThin: "Montserrat-Thin", Verdana, sans-serif;
$montserratRegular: "Montserrat-Regular", Verdana, sans-serif;
$montserratMedium: "Montserrat-Medium", Verdana, sans-serif;
$montserratSemiBold: "Montserrat-SemiBold", Verdana, sans-serif;
$montserratBold: "Montserrat-Bold", Verdana, sans-serif;
$montserratBlack: "Montserrat-Black", Verdana, sans-serif;
$centered: 0 auto;

