@font-face {
  font-weight: 700;
  font-family: Inter-Bold;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: Inter-Regular;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: Montserrat-Bold;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: Montserrat-Regular;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: Montserrat-SemiBold;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-weight: 100;
  font-family: Montserrat-Thin;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: Roboto-Bold;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: Roboto-Regular;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-weight: 200;
  font-family: Montserrat-ExtraLight;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: Montserrat-Light;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: Montserrat-Medium;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-weight: 900;
  font-family: Montserrat-Black;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
}