

.map__heading {
  margin-bottom: 2.2rem;
  font-size: 16px;
  font-family: $montserratBold;
  line-height: 140%;
}

.map__subheading {
  margin-bottom: 1rem;
  font-size: 14px;
  font-family: $montserratBold;
  line-height: 140%;
}

.map__item {
  margin-bottom: 19px;
}

.map__box {
  margin-bottom: 2rem;
}

.map__first {
  width: 23%;
}

.map__second {
  width: 35%;
}

.map__third {
  width: 23%;
}

.map__fourth {
  width: 18%;
}